<% content_for(:title, "Edit | #{@lesson.name.upcase} | LessonPlan") %>

<h1>Editing lesson - <%= @lesson.name.upcase %></h1>

<%= render 'errors'%>

<form action="/lessons/<%= @lesson.id%>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render 'form'%>
  <button>Update lesson</button>
</form>

<p><%= link_to 'Cancel', '/lessons' %></p>
